html, body {
  height: 100%;  
}



.container {
  background-color: bisque;
  padding: 10px;
  height: 60px;
  display: flex;
  border:red solid 2px;
}

.container_second {
  display: flex;
  justify-content: space-between;
  border:blue solid 2px;
}
